height {
	height: 90px !important;
}
.padding {
	padding-top: 18px;
}
footer {
	background-color: #000;
	font-family: Museo;
	margin: 0px !important;
	padding: 20px 0px;
	color: #fff;
	.container {
		.row {
			.col-md-6 {
				table {
					tr {
						th {
							color: #99EDF9;
							font-size: 20px;
						}
						td {
							padding: 10px 0px;
							text-align: justify;
						}
					}
				}
			}
		}
	}
}

.body {
	width: 100%;
	height: 659px;
	padding: 20px;
	header {
		.logo_div_wrap {
			position: absolute;
		    top: 0;
		    width: 30%;
		    padding: 20px 30px;
		    min-height: 100px;
		    max-height: 350px;
		    .logo{
		    	background-image: url(../images/finalblackPNG_2.png);
			    height: 350px;
			    background-repeat: no-repeat;
			    background-size: 100% auto;
		    }
		}
		.button_wrapper {
			position: absolute;
		    top: 70px;
		    right: 0;
		    table {
		    	tr {
		    		td {
		    			a {
	    				    padding: 15px 40px;
						    background-color: #ddd;
						    border-radius: 5px;
						    cursor: pointer;
						    text-decoration: none;
						    text-transform: uppercase;
						    font-family: Museo;
						    &:hover {
						    	background-color: #000;
						    	color: #fff;
						    }
		    			}
		    		}
		    	}
		    }
		}
		.slogan_wrapper {
			position: absolute;
		    bottom: 150px;
		    right: 0;
		     table {
		    	tr {
		    		td {
		    			font-size: 20px;
		    			font-family: Museo;
		    			color: #fff;
		    			font-weight: 600;
		    		}
		    	}
		    }
		}
	}
	.header {
		.heade {
			li {
				a {
					font-size: 12px !important;
				}
			}
		}
	}
}
.navbar-header {
	.navbar-brand {
		.logo {
			background-image: url("../images/finalblackPNG.png");
			height: 120px;
			width: 100px;
			background-size: 100% auto;
			background-repeat: no-repeat;
		}
	}
}

.container{
	.row {
		.col-md-9 {
			table {
				width: 100%;
				tr {
					.td {
						text-transform: uppercase;
						text-align: left;
						padding: 40px 0px;
						font-family: Museo;
					}
					th {
						font-size: 20px;
						letter-spacing: 3px;
					}
				}
			}
		}
		.col-md-3 {
			table {
				tr {
					.td {
						text-transform: uppercase;
						text-align: left;
						padding: 45px 0px;
						font-size: 10px;
						letter-spacing: 3px;
					}
				}
			}
		}
		.jumbotron {
			table {
				width: 100%;
				tr {
					th {
						text-align: center;
						font-family: Museo;
					}
				}
			}
		}
	}
}
#tabs {
	.tabs_1 {
		width: 90%;
		margin: auto;
		text-align: center;
		border-bottom: 1px solid #dcdcdc;
		height: 110px;
		margin-bottom: 50px;
		padding-left: 0px;
		background: #fff !important;
		border: 1px solid #fff !important;
		// border-left: 0px solid !important;
		// border-right: 0px solid !important;
		li {
			list-style: none;
			display: inline-block;
			padding: 15px;
			outline: none;
			float: none !important;
			background-color: #fff !important;
			a {
				padding: 5px 0px;
				text-decoration: none;
				font-size: 11px;
				text-transform: uppercase;
				color: #888888;
				font-weight: 400;
				letter-spacing: 4px;
				outline: none;
				&:hover {
					border-bottom: 1px solid #000;
					color: #000;
				}
			}
		}
	}
	#tabs-4 {
		.content {
			width: 60%;
		    margin: auto;
		    text-align: center;
		    .question {
		    	background: #000;
			    padding: 0px;
			    width: 50%;
			    margin: auto;
			    .panel_border {
			    	.panel_title {
			    		padding: 10px;
			    		border-radius: 3px;
			    		color: #fff;
			    	}
			    }
		    }
		}
	}
}

.container {
	.row {
		.col-md-12 {
			table {
				tr {
					th {
						text-align: center;
						font-size: 28px !important;
						letter-spacing: 2px;
						color: #000;
					}
					td {
						padding: 20px 10px;
						font-size: 15px !important;
					    text-transform: uppercase;
					    line-height: 24px !important;
					    letter-spacing: 2px !important;
					    text-align: center;
					}
				}
			}
		}
	}
}
.great_project {
	margin-top: 150px;
	font-family: Museo;
}
.container {
	.row {
		.col-md-4 {
			.image_3 {
				background-image: url("../images/team_1.png");
				background-repeat: no-repeat;
				background-size: auto 100%;
				height: 400px;
				width: 100%;
			}
			// .image_1:hover {
			// 	cursor: pointer;
			// 	.hover_div {
			// 		display: block;
			// 	}
			// }
			.image_2 {
				background-image: url("../images/team_22.png");
				background-repeat: no-repeat;
				background-size: auto 100%;
				height: 400px;
				width: 100%;
			}
			.image_1 {
				background-image: url("../images/team_3.jpeg");
				background-repeat: no-repeat;
				background-size: 100% auto;
				height: 400px;
				width: 100%;
			}
		}
		a {
			color: #000;
			.col_md_4 {
				margin-bottom: 50px;
				.hover_div {
					width: 92.5%;
					height: 400px;
					background-color: #000;
					position: absolute;
					top: 0px;
					display: none;
					opacity: 0.7;
					table {
						width: 100%;
						text-align: center;
						th {
							text-align: center;
							padding: 20px;
							letter-spacing: 2px;
							color: #fff;
							font-family: Museo;
							font-size: 20px;
							a {
								color: #fff;
							}
						}
						td {
							padding: 10px;
							ul {
								padding-left: 0px;
								li {
									display: inline-block;
									list-style: none;
									a {
										padding: 15px;
										.fa {
											font-size: 20px;
											color: #fff;
										}
									}
								}
							}
						}
					}
				}
				&:hover {
					.hover_div {
						display: block;
					}
				}
				table {
					width: 100%;
					tr {
						th {
							padding: 10px;
							text-align: center;
						}
					}
				}
			}
		}
	}
}
.project_css {
	.row {
		.col-md-12 {
			.main_body {
				background-color: #fff;
				box-shadow: 0 0 10px rgba(0,0,0,.1);
				margin-top: 5px;
				padding: 20px;
				table {
					width: 100%;
					tbody {
						tr {
							th {
								font-family: museo;
								color: #777;
								border-bottom: 1px solid #c6c5c5;
								text-align: left;
							}
						}
					}
				}
				.table {
					margin-top: 20px;
					tr {
						th {
							color: orange;
							font-size: 15px !important;
							border-bottom: 1px solid #fff !important;
							border-top: 1px solid #fff !important;
							padding: 10px 10px 0px 30px;
						}
						td {
							padding: 5px 10px 0px 30px;
							text-align: left;
							font-size: 10px !important;
							letter-spacing: 1px !important;
						}
					}
				}
				.table_2 {
					tr {
						th {
							font-size: 12px !important;
							border-bottom: 1px solid;
							padding: 20px 10px 20px 20px;
							color: #02B875;
							text-transform: uppercase;
						}
					}
				}
				.row {
					.outside_border {
						&:hover {
							.on_hover_effect {
								display: block;
							}
						}
						.thick_border {
							border: 5px solid #000;
							box-shadow: 0 2px 7px rgba(50,50,50,0.6);
							position: relative;
							.img_1 {
								background-image: url("../images/o_3.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.img_2 {
								background-image: url("../images/o_17.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.img_3 {
								background-image: url("../images/m_7.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.img_4 {
								background-image: url("../images/i_2.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.img_5 {
								background-image: url("../images/p_5.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.img_6 {
								background-image: url("../images/m_6.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.img_7 {
								background-image: url("../images/m_7.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.img_8 {
								background-image: url("../images/m_8.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.img_9 {
								background-image: url("../images/l_4.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.img_10 {
								background-image: url("../images/g_2.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.img_11 {
								background-image: url("../images/no_8.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.img_12 {
								background-image: url("../images/o_22.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.img_13 {
								background-image: url("../images/no_5.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.img_14 {
								background-image: url("../images/no_6.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.img_15 {
								background-image: url("../images/no_7.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.img_16 {
								background-image: url("../images/no_8.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.img_17 {
								background-image: url("../images/o_19.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.img_18 {
								background-image: url("../images/o_20.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.img_19 {
								background-image: url("../images/o_11.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.img_20 {
								background-image: url("../images/o_12.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.img_21 {
								background-image: url("../images/o_1.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.img_22 {
								background-image: url("../images/o_23.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.img_23 {
								background-image: url("../images/o_7.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.img_24 {
								background-image: url("../images/o_10.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.image_1 {
								background-image: url("../images/o_1.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.image_2 {
								background-image: url("../images/o_2.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.image_3 {
								background-image: url("../images/o_3.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.image_4 {
								background-image: url("../images/o_4.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.image_5 {
								background-image: url("../images/o_5.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.image_6 {
								background-image: url("../images/o_10.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.image_7 {
								background-image: url("../images/o_7.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.image_8 {
								background-image: url("../images/o_12.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.image_9 {
								background-image: url("../images/o_13.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.image_10 {
								background-image: url("../images/o_14.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.image_11 {
								background-image: url("../images/o_15.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.image_12 {
								background-image: url("../images/o_16.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.image_13 {
								background-image: url("../images/o_17.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.image_14 {
								background-image: url("../images/o_18.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.lux_1 {
								background-image: url("../images/m_1.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.lux_3 {
								background-image: url("../images/m_3.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.lux_4 {
								background-image: url("../images/m_4.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.lux_5 {
								background-image: url("../images/m_5.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.lux_6 {
								background-image: url("../images/m_6.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.lux_7 {
								background-image: url("../images/m_7.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.lux_8 {
								background-image: url("../images/m_8.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.lake_1 {
								background-image: url("../images/i_1.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.lake_2 {
								background-image: url("../images/i_2.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.lake_3 {
								background-image: url("../images/i_3.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.lake_4 {
								background-image: url("../images/i_4.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.lake_5 {
								background-image: url("../images/i_5.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.lake_6 {
								background-image: url("../images/i_6.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.lake_7 {
								background-image: url("../images/i_7.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.lake_8 {
								background-image: url("../images/i_8.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.peace_1 {
								background-image: url("../images/p_1.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.peace_2 {
								background-image: url("../images/p_2.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.peace_3 {
								background-image: url("../images/p_3.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.peace_4 {
								background-image: url("../images/p_4.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.peace_5 {
								background-image: url("../images/p_5.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.peace_6 {
								background-image: url("../images/p_6.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.peace_7 {
								background-image: url("../images/p_7.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.peace_8 {
								background-image: url("../images/p_8.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.ledgefront_1 {
								background-image: url("../images/l_1.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.ledgefront_2 {
								background-image: url("../images/l_2.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.ledgefront_3 {
								background-image: url("../images/l_3.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.ledgefront_4 {
								background-image: url("../images/l_4.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.gulp_1 {
								background-image: url("../images/g_1.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.gulp_2 {
								background-image: url("../images/g_2.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.gulp_3 {
								background-image: url("../images/g_3.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.gulp_4 {
								background-image: url("../images/g_4.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.gulp_5 {
								background-image: url("../images/g_5.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.ojay_1 {
								background-image: url("../images/no_1.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.ojay_2 {
								background-image: url("../images/no_2.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.ojay_3 {
								background-image: url("../images/no_3.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.ojay_4 {
								background-image: url("../images/no_4.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.ojay_5 {
								background-image: url("../images/no_5.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.ojay_6 {
								background-image: url("../images/no_6.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.ojay_7 {
								background-image: url("../images/no_7.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.ojay_8 {
								background-image: url("../images/no_8.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.ogun_1 {
								background-image: url("../images/o_21.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.ogun_2 {
								background-image: url("../images/o_22.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.ogun_3 {
								background-image: url("../images/o_23.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.ogun_4 {
								background-image: url("../images/o_20.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
							.ogun_5 {
								background-image: url("../images/o_19.jpg");
								height: 200px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}
						}
						.on_hover_effect {
							height: 210px;
							width: 90%;
							position: absolute;
							top: 0px;
							opacity: 0.7;
							background: #000;
							display: none;	
							table {
								tr {
									th {
										text-transform: uppercase;
									    font-family: museo;
									    color: #fff;
									    border-bottom: 0px solid #c6c5c5;
									    text-align: center;
									    font-size: 15px !important;
									    padding-top: 80px;
									    font-weight: 600;
									}
								}
							}
						}
					}
					.col-md-6 {
						table {
							tr {
								td {
									padding: 5px 10px 10px 40px;
								    font-size: 11px!important;
								    text-transform: capitalize;
								    line-height: 24px!important;
								    width: 49%;
								    text-align: left;
								    letter-spacing: 1px!important;
								}
							}
						}
					}
				}
			}
		}
	}
}
.banner_wrap {
	width: 100%;
	height: 350px;
	.banner {
		background-image: url("../images/contact_us.jpg");
		height: 350px;
		background-size: 100% auto;
		background-repeat: no-repeat;
	}
}
.container {
	.row {
		.col-md-8 {
			form {
				.form_wrap {
					.col-sm-12 {
						label {
							color: #555;
							font-size: 11px;
							font-weight: 600;
						}
						.input {
							border: 2px solid #eaeaea;
							outline: none !important;
							height: 40px;
						}
						.textarea {
							height: 200px;
							width: 100%;
							border: 2px solid #eaeaea;
							outline: none !important;
							max-height: 200px;
							max-width: 100%;
						}
					}
				}
				.button {
					float: right !important;
					width: 150px;
					height: 40px;
					border: none;
					border-radius: 5px;
					font-weight: 600;
				}
			}
		}
		.col-md-4 {
			.right_wrap {
				padding-left: 20px;
    			padding-top: 20px;
    			.top {
    				border: 2px solid #e8e8e8;
    				margin-bottom: 15px;
    				padding: 10px;
    				table {
    					tr {
    						th {
    							padding: 7px 0px;
    						}
    						td {
    							padding: 7px 0px;
    						}
    					}
    				}
    			}
    			.down {
    				border: 2px solid #e8e8e8;
    				margin-bottom: 15px;
    				padding: 10px;
    				table {
    					tr {
    						th {
    							padding: 7px 0px;
    						}
    						td {
    							padding: 7px 0px;
    						}
    					}
    				}
    			}
			}
		}
	}
}