/* HOMEPAGE STARTS HERE */
@media screen and (max-width: 320px) {
    .media-video{
       height: 167px !important;
    }
    .img1,.img2,.img3,.img4,.img5,.img6{
	padding:0;
	background-size: cover !important;
	height: 150px;
   }
   .img5 .img_text_w3ls,.img1 .img_text_w3ls{
	 background-color:unset !important;
	}
	.img4 .img_text_w3ls {
	 background-color:unset !important;
	}
	.img2 .img_text_w3ls,.img3 .img_text_w3ls,.img6 .img_text_w3ls {
	 background-color:unset !important;
	}
	.social-icons ul li a.fa {
		line-height: 3.6em;
	}
	.img-logo{
		height: 130px !important;
	}
}

@media screen and (max-width: 375px) {
    .img1,.img2,.img3,.img4,.img5,.img6{
	padding:0;
	background-size: cover !important;
	height: 150px;
   }
   .img5 .img_text_w3ls,.img1 .img_text_w3ls{
	 background-color:unset !important;
	}
	.img4 .img_text_w3ls {
	 background-color:unset !important;
	}
	.img2 .img_text_w3ls,.img3 .img_text_w3ls,.img6 .img_text_w3ls {
	 background-color:unset !important;
	}
	.social-icons ul li a.fa {
		line-height: 3.6em;
	}
	.img-logo{
		height: 130px !important;
	}
}

@media screen and (max-width: 425px) {
    .img1,.img2,.img3,.img4,.img5,.img6{
	padding:0;
	background-size: cover !important;
	height: 150px;
   }
   .img5 .img_text_w3ls,.img1 .img_text_w3ls{
	 background-color:unset !important;
	}
	.img4 .img_text_w3ls {
	 background-color:unset !important;
	}
	.img2 .img_text_w3ls,.img3 .img_text_w3ls,.img6 .img_text_w3ls {
	 background-color:unset !important;
	}
	.social-icons ul li a.fa {
	 line-height: 3.6em;
	}
	.img-logo{
		height: 130px !important;
	}
}
@media screen and (max-width: 768px) {
    .img5 .img_text_w3ls,.img1 .img_text_w3ls{
	 background-color:unset !important;
	}
	.img4 .img_text_w3ls {
	 background-color:unset !important;
	}
	.img2 .img_text_w3ls,.img3 .img_text_w3ls,.img6 .img_text_w3ls {
	 background-color:unset !important;
	}
	.social-icons ul li a.fa {
		line-height: 3.6em;
	}
	.img-logo{
		height: 130px !important;
	}
}

/* HOMEPAGE ENDS HERE */




/* ABOUT sTARTS HERE */
@media screen and (max-width: 320px) {
 .about_img {
 	height: 200px !important;
 }
 .contact-content p{
 	font-size: 1.3em !important;
 }
 .about_second_img{
 	display: none;
 }
 .about_second_img1 {
 	display: block;
 	background-image: url(../images/eight.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 200px;
 }
 .img-logo{
		height: 130px !important;
	}
}

@media screen and (max-width: 375px) {
 .about_img {
 	height: 200px !important;
 }
 .contact-content p{
 	font-size: 1.3em !important;
 }
 .about_second_img{
 	display: none;
 }
 .about_second_img1 {
 	display: block;
 	background-image: url(../images/eight.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 200px;
 }
 .img-logo{
		height: 130px !important;
	}
}

@media screen and (max-width: 425px) {
 .about_img {
 	height: 200px !important;
 }
 .contact-content p{
 	font-size: 1.3em !important;
 }
 .about_second_img{
 	display: none;
 }
 .about_second_img1 {
 	display: block;
 	background-image: url(../images/eight.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 200px;
 }
 .img-logo{
		height: 130px !important;
	}
}

@media screen and (max-width: 768px) {
 .about_img {
 	height: 200px !important;
 }
 .contact-content p{
 	font-size: 1.3em !important;
 }
 .about_second_img{
 	display: none;
 }
 .about_second_img1 {
 	display: block;
 	background-image: url(../images/eight.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 200px;
 }
 .img-logo{
		height: 130px !important;
	}
}

/* ABOUT ENDS HERE */


/* GALLERY STARTS HERE */

@media screen and (max-width: 320px) {
 .gallery_img {
 	height: 200px !important;
 }
 .project_css .row .col-md-12 .main_body .row .outside_border .thick_border .img_9  {
 	height: 73px !important;
 	background-size: contain !important;
 }
 .project_css .row .col-md-12 .main_body .row .outside_border .thick_border .img_10  {
 	height: 73px !important;
 	background-size: contain !important;
 }
 .portfolio-header {
 	text-align: center !important;
 }
 .img-logo{
		height: 130px !important;
	}
 
}

@media screen and (max-width: 375px) {
 .gallery_img {
 	height: 200px !important;
 }
 
 .portfolio-header {
 	text-align: center !important;
 }
 .img-logo{
	height: 130px !important;
	}
}

@media screen and (max-width: 425px) {
 .gallery_img {
 	height: 200px !important;
 }
 .project_css .row .col-md-12 .main_body .row .outside_border .thick_border .img_9  {
 	height: 94px !important;
 	background-size: cover !important;
 }
 .project_css .row .col-md-12 .main_body .row .outside_border .thick_border .img_10  {
 	height: 93px !important;
 	background-size: cover !important;
 }
 .portfolio-header {
 	text-align: center !important;
 }
 .img-logo{
		height: 130px !important;
	}
 
}
	
@media screen and (max-width: 768px) {
 .gallery_img {
 	height: 300px !important;
 }
 .project_css .row .col-md-12 .main_body .row .outside_border .thick_border .img_9  {
 	height: 210px !important;
 	background-size: cover !important;
 }
 .project_css .row .col-md-12 .main_body .row .outside_border .thick_border .img_10  {
 	height: 210px !important;
 	background-size: cover !important;
 }
 .portfolio-header {
 	text-align: center !important;
 }
 .img-logo{
		height: 130px !important;
	}
 
}

/* GALLERY ENDS HERE */



/* CONTACT PAGE STARTS HERE */
	
@media screen and (max-width: 320px) {
 .contact_img {
 	background-repeat: no-repeat;
 	background-size: cover !important;
 	height: 200px !important;
 }
 .help-th {
 	font-size: 23px !important; 
 }
 .glad-th {
 	font-size: 17px !important;
 }
}

@media screen and (max-width: 375px) {
 .contact_img {
 	background-repeat: no-repeat;
 	background-size: cover !important;
 	height: 200px !important;
 }
 .help-th {
 	font-size: 23px !important; 
 }
 .glad-th {
 	font-size: 17px !important;
 }
}

@media screen and (max-width: 425px) {
 .contact_img {
 	background-repeat: no-repeat;
 	background-size: cover !important;
 	height: 200px !important;
 }
 .help-th {
 	font-size: 23px !important; 
 }
 .glad-th {
 	font-size: 17px !important;
 }
}

@media screen and (max-width: 768px) {
 .contact_img {
 	background-repeat: no-repeat;
 	background-size: cover !important;
 	height: 200px !important;
 }
 .help-th {
 	font-size: 23px !important; 
 }
 .glad-th {
 	font-size: 17px !important;
 }
}
/* CONTACT PAGE ENDS HERE */





/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
  	.video_parent_for_web {
  		display: none;
  	}

  	.media-video{
       height: 185px !important;
    }
}


/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
  	.video_parent_for_web {
  		display: none;
  	}

  	.media-video{
       height: 200px !important;
    }
}


/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
  	.video_parent_for_web {
  		display: none;
  	}

  	.media-video{
       height: 220px !important;
    }
}



/* ----------- Galaxy S4, S5 and Note 3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
  	.video_parent_for_web {
  		display: none;
  	}

  	.media-video{
       height: 210px !important;
    }
}


/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
  	.video_parent_for_web {
  		display: none;
  	}

  	.media-video{
       height: 400px !important;
    }
}



/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {
  	.video_parent_for_web {
  		display: none;
  	}

  	.media-video{
       height: 550px !important;
    }
}



/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
  	.video_parent_for_mobile {
  		display: none;
  	}

  	.video_parent_for_web_height {
  		height: 630px;
  	}
}
