body {
	background-color: #fff !important;
}

.gallery_img {
    background-image: url(../images/sec/21.jpeg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center;
	height: 500px;
}

/*.contact_img {*/
/*	background-image: url(../images/sec/16.jpeg);*/
/*	background-size: 100% auto;*/
/*	height: 400px;*/
/*	background-position: center;*/
/*}*/

/*.about_img {*/
/*	background-image: url(../images/18.jpg);*/
/*	background-size: 100% auto;*/
/*	background-repeat: no-repeat;*/
/*	background-attachment: fixed;*/
/*	height: 400px;*/
/*}*/

/*.about_second_img {*/
/*	background-image: url(../images/18.jpg);*/
/*	background-size: 100% auto;*/
/*	background-repeat: no-repeat;*/
/*	background-position: center;*/
/*	background-attachment: fixed;*/
/*	height: 400px;*/
/*}*/

.main_body {
	margin: 30px 0px !important; 
}

.first_party {
	background-image: url(../images/17.jpg) !important;
	background-size: 100% auto;
	background-repeat: no-repeat;
	height: 500px;
}

.sec_party {
	background-image: url(../images/sec/sec_1.jpeg) !important;
	background-size: 100% auto;
	background-repeat: no-repeat;
	height: 500px;
}

.right_wrap {
    background: #2D1726;
    padding: 20px;
    color: #fff;
    font-family: opensans !important;
    font-size: 15px;
}

.lab {
	font-size: 15px !important;
}
.contact-content {
	background-color: #fff;
	padding: 40px 0px;
}