body { 
	padding: 0;
	margin: 0;
	background: #FFF;
	font-family: 'Open Sans', sans-serif;
}
body a {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration: none;
}
body a:hover {
	text-decoration: none;
}

body a:focus, a:hover {
	text-decoration: none;
	outline:none;
}
input[type="button"], input[type="submit"], button.btn {
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	transition: 0.5s all;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-family: 'Poiret One', cursive;
}
ul {
	margin: 0;
	padding: 0;
}
label {
	margin: 0;
}
.text-center {
	text-align: center;
}
/*-- //Reset-Code --*/
p {
	margin: 0;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	line-height: 2;
	font-size: 1em;
	color:#888;
}
/*-- header styling starts here --*/
.agileits_main{
	background:url(../images/1.jpg) no-repeat center;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
}
.w3_agile_logo{
	padding: 4em 0 0;
}
.w3_agile_logo h1 a{
	font-size: 1.5em;
	letter-spacing: 6px;
	color:#fff;
	position: relative;
	text-decoration: none;
	font-weight: 600;
	text-transform: capitalize;
	font-family: 'Dancing Script', cursive;
}
/*-- banner --*/
.banner_text_w3layouts {
    text-align: center;
    padding: 16.5em 0;
}
.banner_text_w3layouts h3 {
	color: #fff;
	font-size: 4em;
	margin: 0;
	font-weight: 700;
	text-transform: capitalize;
	letter-spacing: 2px;
}
.banner_text_w3layouts span {
    width: 38%;
    height: 1px;
    background: rgba(255, 255, 255, 0.29);
    display: inline-block;
    margin: 1.5em 0 0.5em;
}
.banner_text_w3layouts p {
	color: #fff;
	font-size: 1.3em;
	margin: 0.5em;
	letter-spacing: 2px;
	text-transform: capitalize;
	font-weight: 300;
}
.w3-button a{
	color: #fff;
	padding: 0.8em 2em;
	text-decoration: none;
	margin: 0;
	font-size: 1em;
	border: 2px solid #FFC107;
	background:none;
	font-weight: 700;
	text-transform: uppercase;
}
.w3-button a:hover{
	color:  #FFC107;
	border-color:#fff;
}
.w3-button {
    position: relative;
    margin: 0;
    padding: 1em;
    z-index: 1;
}
/*-- slider --*/
#slider2,#slider3 {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	margin: 0 auto;
}
.rslides_tabs li:first-child {
	margin-left: 0;
}
.rslides_tabs .rslides_here a {
	background: rgba(255,255,255,.1);
	color: #fff;
	font-weight: bold;
}
.events {
	list-style: none;
}
.callbacks_container {
	position: relative;
	float: left;
	width: 100%;
}
.callbacks {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}
.callbacks li {
	position: absolute;
	width: 100%;
}
.callbacks img {
	position: relative;
	z-index: 1;
	height: auto;
	border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}
.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    bottom: 50%;
    left: 0;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    background: url(../images/prev.png) right 0px;
    width: 25px;
    height: 35px;
    background-size: cover;
}
.callbacks_nav:hover{
	opacity: 0.3;
}
.callbacks_nav.next {
    left: auto;
    background: url(../images/next.png) left 0px;
    right: 0;
    background-size: cover;
}
.callbacks_nav.prev {
    right: auto;
    left: 0;
}
 #slider3-pager a {
	display: inline-block;
}
#slider3-pager span{
	float: left;
}
#slider3-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a {
	background: #FFF;
	border-radius:30em;
	opacity:1;
}
#slider3-pager a {
	padding: 0;
}
#slider3-pager li{
	display:inline-block;
}
.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
}
.rslides li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display:none;
	width: 100%;
	left: 0;
	top: 0;
}
.rslides li{
	position: relative;
	display: block;
	float: left;
}
.rslides img {
	height: auto;
	border: 0;
 }
.callbacks_tabs{
	list-style: none;
	position: absolute;
	top: 90%;
	left: 48%;
	padding: 0;
	margin: 0;
	display: block;
	z-index: 999;
}
.slider-top span{
	font-weight:600;
}
.callbacks_tabs li{
    display: none;
    margin: 0;
}
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
	content: "\f111";
	font-size: 0;
	font-family: FontAwesome;
	visibility: visible;
	display: block;
	height: 10px;
	width: 10px;
	display: inline-block;
	background: rgba(255, 255, 255, 0.14);
	border: 2px solid #ffffff;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
}
.callbacks_here a:after{
    background: #ff5301;
    border: 2px solid #ff5301;
}
/*-- //slider --*/
/*-- header --*/
.navbar-inverse {
    background: rgba(0, 0, 0, 0.44);
    border: none;
    margin: 0;
    border-radius: 0px;
}

.top-nav ul li a {
    padding: 1.8em;
    margin: 0 1em;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 1px;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}
/*-- menu --*/
span.menu {
	display: none;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	color: #fff;
	background-color: transparent;
}
.linkHoverEffect_11 a {
	margin:0;
	position: relative;
	overflow: hidden;
	display: inline-block;
	-moz-transition: ease-out 0.3s;
	-o-transition: ease-out 0.3s;
	-webkit-transition: ease-out 0.3s;
	transition: ease-out 0.3s;
}
.linkHoverEffect_11 a span::before{
	background: transparent;
	width: 6px;
	height: 6px;
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	border-top: 2px solid #e8870b;
	border-left: 2px solid #e8870b;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	opacity: 0;
}
.linkHoverEffect_11 a span::after {
	background: transparent;
	width: 6px;
	height: 6px;
	content: "";
	position: absolute;
	right: 0;
	bottom: 0;
	border-right: 2px solid #e8870b;
	border-bottom: 2px solid #e8870b;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	opacity: 0;
}
.linkHoverEffect_11 a::before {
    background: transparent;
    width: 6px;
    height: 6px;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    border-right: 2px solid #e8870b;
    border-top: 2px solid #e8870b;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
}
.linkHoverEffect_11 a::after {
	background: transparent;
	width: 6px;
	height: 6px;
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	border-left: 2px solid #e8870b;
	border-bottom: 2px solid #e8870b;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	opacity: 0;
}
.top-nav .linkHoverEffect_11 li  a:hover,.top-nav .linkHoverEffect_11 li.agile_active  a {
	color: #e8870b;
}
.linkHoverEffect_11 a:hover::before,li.agile_active  a::before {
	opacity: 1;
	right: 6px;
	top: 6px;
}
.linkHoverEffect_11 a:hover::after,li.agile_active  a::after {
	opacity: 1;
	left: 6px;
	bottom: 6px;
}
.linkHoverEffect_11 a:hover span::before,li.agile_active  a span::before{
	opacity: 1;
	left: 6px;
	top: 6px;
}
.linkHoverEffect_11 a:hover span::after,li.agile_active  a span::after {
	opacity: 1;
	right: 6px;
	bottom: 6px;
}
/*-- //header --*/
/*-- home --*/
.home_grids_w3,.grid_w3l {
	padding:0;
 }
.gallery_grid {
	margin: 2em 0 0;
}
.grid_w3l img {
	width:100%;
}
.img1,.img2,.img3,.img4,.img5,.img6{
	padding:0;
	background-size: cover !important;
	height: 300px;
}
/*.img1 {*/
/*	background: url(../images/sec/28.jpeg) center;*/
/*}*/
/* .img2 {*/
/*	background: url(../images/sec/7.jpeg) center;*/
/*}*/
/*.img3 {*/
/*	background: url(../images/sec/5.jpeg) center;*/
/*}*/
/*.img4 {*/
/*	background: url(../images/sec/35.jpeg) center; */
/*}*/
/*.img5 {*/
/*	background: url(../images/sec/29.jpeg) center;*/
/*}*/
/*.img6 {*/
/*	background: url(../images/sec/18.jpeg) center;*/
/*}*/
.home_main {
	height: 300px;
}
.img_text_w3ls {
    padding: 9.15em 0;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	background: rgba(78, 54, 54, 0.85);
}
.img5 .img_text_w3ls,.img1 .img_text_w3ls{
	background:rgba(40, 141, 145, 0.69);
	height: 300px;
}
.img2 .img_text_w3ls,.img3 .img_text_w3ls,.img6 .img_text_w3ls{
	background: rgba(0, 51, 102, 0.6);
	height: 300px;
}
.img4 .img_text_w3ls{
	background:rgba(51, 102, 153, 0.6);
	height: 300px;
}
.img_text_w3ls h4 {
	color: #fff;
	font-size: 3em;
	margin: 0;
	font-weight: 700;
	text-transform: capitalize;
	letter-spacing: 2px;
}
.img_text_w3ls span {
    width: 30%;
    height: 1px;
    background: rgba(255, 255, 255, 0.29);
    display: inline-block;
    margin: 1.5em 0 0.5em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.img-grid:hover .img_text_w3ls span {
    width: 50%;
}
.img_text_w3ls p {
	color: #fff;
	font-size: 1.3em;
	margin: 0.5em;
	letter-spacing: 2px;
	text-transform: capitalize;
	font-weight: 400;
}
.img-grid:hover .img_text_w3ls {
    background: rgba(43, 91, 162, 0.2);
}
/*-- //home --*/
/*-- about --*/
.about_agileinfo,.gallery_wthree ,.team,.subscribe,.w3layouts-section {
	padding:5em 0;
}
h3.title {
    font-size: 2.6em;
    text-transform: capitalize;
    font-weight: 600;
    color: #fff;
	padding: 0 0 0.5em;
	line-height:1
}
.about_agileinfo h3 ,.team h3{
	color:#000;
}
.about_agileits {
	background: url(../images/5.jpg) center;
	background-size: cover;
	min-height: 300px;
}
.about_main h4 {
    font-size: 2em;
    color: #000;
    font-weight: 600;
}
.about_text_w3l {
    padding: 0em 2em;
}
.about_text_w3l h4 {
    font-size: 1.5em;
    color: #000;
    font-weight: 600;
	padding-bottom: 1em;
}
/*-- //about --*/
/*-- gallery --*/
.gallery_wthree{
	background:#4c6e90;
}
.grid-2.grid_w3l {
	margin-top: 1em;
}
.grid_w3 {
    padding: 0 0.5em;
}
.sub_grid.gallery_w3l,.grid-2 {
    margin-top: 1em;
}
.grid-1 a {
    display: block;
    overflow: hidden;
    position: relative;
}
.grid-1:hover .w3agile-text{
    bottom: 0%;
}
.w3agile-text {
	background: rgba(0, 0, 0, 0.58);
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: -100%;
	left: 0;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}
.grid-1 .w3agile-text h5 {
	font-size: 2.5em;
	color: #fff;
	text-align: center;
	padding: 5.02em 0;
}
.w3agile-text.w3agile-text-small h5,.grid_w3l .w3agile-text h5{
	font-size: 2em;
	padding: 5.5em 0;
}
.grid_w3l {
    width: 48.5%;
}
.grid-c.grid_w3l {
    margin-right: 1em;
}
a.agilebtn {
	font-size: 1em;
	color: #fff; 
	background: #00BCD4;
	padding: 0.7em 2em;
	display: inline-block; 
	outline:none;
	margin-top: 1em; 
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
	position: relative;
} 
.agilebtn::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	border: 1px solid #fff;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.agilebtn:hover::before{
	opacity: 0;
	-webkit-transform: scale(1.2,1.2);
	-moz-transform: scale(1.2,1.2);
	-o-transform: scale(1.2,1.2);
	-ms-transform: scale(1.2,1.2);
	transform: scale(1.2,1.2);
}
.agilebtn::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	background:transparent;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.5s;
	transition: all 0.3s;
	-webkit-transform: scale(0.5,0.5);
	-moz-transform: scale(0.5,0.5);
	-o-transform: scale(0.5,0.5);
	-ms-transform: scale(0.5,0.5);
	transform: scale(0.5,0.5);
}
.agilebtn:hover::after{
     opacity: 1 ;
	-webkit-transform: scale(1,1);
	-moz-transform: scale(1,1);
	-o-transform: scale(1,1);
	-ms-transform: scale(1,1);
	transform: scale(1,1);
}
/*lightbox*/
/* overlay - centered modal dialog*/
.overlay-visible{
    overflow:hidden !important;
}
#cm-overlay-mask,#cm-wrap{
    position: fixed;
    left: 0;
    top: 0;
    width:100%;
    height:100%;
    z-index: 9991;
    text-align:center;
/* IE<9 support hack */
}
/* chrome bug fix causing overlay-mask to not appear 
@media screen and (-webkit-min-device-pixel-ratio:0) {
#cm-overlay-mask
{
    overflow:scroll;
}
#cm-overlay-mask::-webkit-scrollbar
{
    width:0px; 
}}*/
#cm-wrap
{
    visibility:hidden;
    white-space:nowrap;
}
#cm-wrap *
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    
}
#cm-wrap .cm-box,
#cm-wrap .cm-scale
{
    white-space:normal;
    vertical-align:middle;
    position:relative;
    display:inline-block;

}
#cm-wrap .cm-scale
{
    height:100%;
    line-height:100%;
    width:0;
}
#cm-wrap .cm-box img,
#cm-wrap .cm-box iframe
{
    display:block;
}

/* customise mask colour */
#cm-overlay-mask
{
    background-color:#000000;
}
/* customise loader GIF */
#cm-wrap
{
    background:none;
}
#cm-wrap.cm-loaded
{
    background-image:none;
}
/* overlay border and shadow */
#cm-overlay
{
    -webkit-box-shadow: 0 0 90px #000;
    -khtml-box-shadow:0 0 90px 5px #000;
    -moz-box-shadow:0 0 90px 5px #000;
    box-shadow:0 0 90px 5px #000;
    /**/
    opacity:0;
    z-index:9992;
}
/* close link style */
#cm-wrap #cm-close
{
    display:block;
	height: 61px;
    width: 59px;
    position:absolute;
    right:0;
    top:0;
    background:transparent url(../images/close.png) scroll no-repeat center;
    cursor:pointer;
    z-index:9993;
    text-indent:-999em;
    opacity:0.5;
}
/* prev and next buttons */
#cm-wrap #cm-prev,
#cm-wrap #cm-next
{
    display:block;
    position:absolute;
    height: 97px;
    width: 49px;
    top:50%;
    margin-top:-63px;
    text-indent:-999em;
    opacity:0.5;
    outline:none;
    z-index:9993;
}
#cm-wrap #cm-prev
{
    left:0;
    background:transparent url(../images/prev.png) scroll no-repeat 0 center;
}
#cm-wrap #cm-next
{
    right:0;
    background:transparent url(../images/next.png) scroll no-repeat 100% center;
}
#cm-wrap #cm-prev:hover,
#cm-wrap #cm-next:hover,
#cm-wrap #cm-close:hover
{
    opacity:1;
}
/*lightbox*/

/*-- //gallery --*/ 
/*-- section --*/ 
.w3layouts-section {
	text-align: center;
	background:-webkit-linear-gradient(rgba(76, 76, 76, 0.6), rgb(18, 18, 18)), url(../images/21.jpg) no-repeat  center fixed;
	background:-moz-linear-gradient(rgba(76, 76, 76, 0.6), rgb(18, 18, 18)), url(../images/21.jpg) no-repeat  center fixed;
	background:-ms-linear-gradient(rgba(76, 76, 76, 0.6), rgb(18, 18, 18)), url(../images/21.jpg) no-repeat  center fixed;
	background:linear-gradient(rgba(76, 76, 76, 0.6), rgb(18, 18, 18)), url(../images/21.jpg) no-repeat  center fixed;
	background-size: cover;
}
.w3layouts-section p {
	margin: 1em auto 1em;
	width: 70%;
	text-align: justify;
	color: #fff;
}
/*-- //section --*/
/*-- team --*/  
.team.agileits-w3layouts {
    background: #fff;
}
.team-grid {
	text-align: left;
	padding: 0 2.5em;
}
.team .img-w3l {
	display: inline-block;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	-moz-border-radius: 50%;
	text-decoration: none;
	z-index: 1;
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
	transition: .5s all;
}
.team h5 {
	font-size: 1.6em;
	margin: 0.8em 0 .4em;
	color: #00bcd4;
	font-weight: 600;
	letter-spacing: 2px;
}
.team-grid:hover  .img-w3l {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}
.team-grid .social-icons {
    margin-top: 1em;
}
.modal-body p{
	margin: 1em 0 0 0;
	font-size: .875em;
	color: #999999;
	line-height: 1.8em;
}
 h2.modal-title {
	color: #212121;
	font-size: 3em;
	margin: 0;
	text-transform: capitalize;
	font-weight: 700;
	letter-spacing: 2px;
	font-family: 'Dancing Script', cursive;
}
.modal-body img{
	width: 100%;
}
.modal-content .modal-body p {
	margin: 25px 0 10px;
	color: #999;
	font-size: 1em;
}
/*-- //team --*/ 
/*-- Contact --*/
.contact-left-w3ls {
    padding: 0;
}
.contact-w3-agileits {
    background: #124042;
}
.contact-right-w3l h3:before {
    width: 35%;
}
.contact-left-w3ls .glyphicon {
    font-size: 1.5em;
    padding: 0.3em 0;
    color: #00BCD4;
}
.contact-left-w3ls p {
    color: #fff;
    font-size: 0.85em;
    letter-spacing: 1px;
}
.contact-left-w3ls  a{
	color:#fff;
}
.contact-left-w3ls  a:hover{
	color:#e8870b;
}
.contact-left-w3ls h4 {
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 1.4em;
    margin-bottom: .5em;
}
.contact-right-w3l input[type="text"],.contact-right-w3l input[type="email"]{
    font-size: 1em;
    border: 1px solid #fff;
    background: transparent;
    outline: none;
    padding: 0.7em;
    width: 48.5%;
    margin-bottom: 1em;
    color: #fff;
}
.contact-right-w3l input[type="text"]:nth-child(1),.contact-right-w3l input[type="email"] {
    margin-right:2%;
}
.contact-right-w3l textarea{
	width:100%;
	padding: 0.7em;
	outline:none;
	resize:none;
	height:100px;
	border:1px solid #fff;
	font-size:1em;
	background: transparent;
	color:#fff;
}
.contact-right-w3l input[type="submit"] {
    background: #00BCD4;
    color: #fff;
    padding: .9em 1.8em;
    margin-top: 1.3em;
    border: 1px solid #00BCD4;
    outline: none;
    font-size: 0.9em;
}
.contact-right-w3l input[type="submit"]:hover {
    background: transparent;
    color: #00BCD4;
}
.contact-right-w3l {
    padding: 5em 12em;
    border-right: 1px solid rgba(255, 255, 255, 0.29);
}
.contact-grid-agileinfo {
	padding: 3em;
	border-bottom:1px solid  rgba(255, 255, 255, 0.29);
}
.visit{
	border:none;
}
.contact-main ::-webkit-input-placeholder {
   color: #fff;    
} 
.contact-main :-moz-placeholder { /* Firefox 18- */
   color: #fff; 
} 
.contact-main ::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
} 
.contact-main :-ms-input-placeholder {  
   color:#fff;
}
/*-- //contact --*/
/*-- subscribe --*/
.subscribe {
    background: url(../images/12.jpg) center;
    background-size: cover;
	background-attachment: fixed;
}
.subscribe-wthree input[type="email"] {
	width: 69.3%;
	padding: .8em 1em;
	font-size: 1em;
	font-weight: 400;
	border: none;
	outline: none;
	margin: 0;
	-webkit-appearance: none;
	background: #fff;
	color:#000;
}	
.subscribe-wthree input[type="submit"]{
	background: #e8870b;
	cursor: pointer;
	border: 0;
	color: #fff;
	font-weight: 400;
	font-size: 1em;
	text-transform: uppercase;
	padding: .8em 1em;
	text-align: center;
	-webkit-appearance: none;
	outline: none;
	width:30%;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.subscribe-wthree input[type="submit"]:hover{
	background:#00BCD4;
}
.subscribe-wthree {
    width:50%;
	margin:0 auto;
}
/*-- //subscribe --*/ 	
/*-- footer --*/
.footer {
    background: url(../images/banner1.jpg)no-repeat center bottom fixed;
    background-size: cover;
    padding: 5em 0 0;
}
.footer h3.w3ltitle {
    color: #fff;
    text-align: center;
}
.footer-agileinfo {
    margin-top: 4em;
}
.footer-left {
    text-align: right;
    padding-right: 2em !important;
}
.footer-left h5 {
    font-size: 1.5em;
    letter-spacing: 2px;
    font-family: 'Abel', sans-serif;
}
.footer-left h5 a{
	color: #fff;
}
.footer-left h5 a:hover{
	color: #fff;
}
.footer-left .w3ls-more {
    margin-top: 4em;
    border: 1px solid #fff;
    background: none;
}
.footer-left .w3ls-more:hover {
    background-color: #ff2f68;
}
/*-- copy-right --*/
.copy-right {
    padding: 2em 0;
    text-align: center;
    background: #000;
}
.copy-right p {
	 color: #fff;
	 padding: 1em 0 0;
}
.copy-right a {
	 color: #fff;
} 
.copy-right a:hover {
    color:#00BCD4;
}
/*-- social-icons --*/
.social-icons ul li {
    display: inline-block;
    font-size: inherit;
    text-align: center;
    margin: 0;
}
.social-icons ul li a.fa {
    font-size: 1em;
    color: #fff;
    line-height: 3.6em;
	border-radius: 50px;
}
.icon-border {
	position: relative;
}
.icon {
    vertical-align: top;
    overflow: hidden;
    margin: 0 4px;
    width: 35px;
    height: 35px;
}
.social-icons ul li a.fa:hover {
    color: #3b5998;
}
a.fa.fa-google-plus.icon.icon-border.googleplus:hover {
    color: #d34836;
}
a.fa.fa-twitter.icon.icon-border.twitter:hover {
    color: #4099ff;
}
a.fa.fa-dribbble.icon.icon-border.dribbble:hover {
    color: #ec4a89;
}
.icon-border::before,
.icon-border::after {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: "";
} 
.icon-border::before {
	z-index: 1;
	-webkit-transition: box-shadow 0.3s;
	-moz-transition: box-shadow 0.3s;
	-o-transition: box-shadow 0.3s;
	-ms-transition: box-shadow 0.3s;
	transition: box-shadow 0.3s;   
	border-radius:50%;	
}  
/* facebook */
.icon-border.facebook::before {
	-webkit-box-shadow: inset 0 0 0 48px #3b5998; 
	-moz-box-shadow: inset 0 0 0 48px #3b5998; 
	-o-box-shadow: inset 0 0 0 48px #3b5998; 
	-ms-box-shadow: inset 0 0 0 48px #3b5998; 
	box-shadow: inset 0 0 0 48px #3b5998; 
} 
.icon-border.facebook:hover::before {
	-webkit-box-shadow: inset 0 0 0 4px #3b5998; 
	-moz-box-shadow: inset 0 0 0 4px #3b5998; 
	-o-box-shadow: inset 0 0 0 4px #3b5998; 
	-ms-box-shadow: inset 0 0 0 4px #3b5998; 
	box-shadow: inset 0 0 0 4px #3b5998;
} 
/* twitter */
.icon-border.twitter::before {
	-webkit-box-shadow: inset 0 0 0 48px #4099ff;
	-moz-box-shadow: inset 0 0 0 48px #4099ff;
	-o-box-shadow: inset 0 0 0 48px #4099ff;
	-ms-box-shadow: inset 0 0 0 48px #4099ff;
	box-shadow: inset 0 0 0 48px #4099ff;
} 
.icon-border.twitter:hover::before {
	-webkit-box-shadow: inset 0 0 0 4px #4099ff;
	-moz-box-shadow: inset 0 0 0 4px #4099ff;
	-o-box-shadow: inset 0 0 0 4px #4099ff;
	-ms-box-shadow: inset 0 0 0 4px #4099ff;
	box-shadow: inset 0 0 0 4px #4099ff;
} 
/* google plus */
.icon-border.googleplus::before {
	-webkit-box-shadow: inset 0 0 0 48px #d34836;
	-moz-box-shadow: inset 0 0 0 48px #d34836;
	-o-box-shadow: inset 0 0 0 48px #d34836;
	-ms-box-shadow: inset 0 0 0 48px #d34836;
	box-shadow: inset 0 0 0 48px #d34836;
} 
.icon-border.googleplus:hover::before {
	-webkit-box-shadow: inset 0 0 0 4px #d34836;
	-moz-box-shadow: inset 0 0 0 4px #d34836;
	-o-box-shadow: inset 0 0 0 4px #d34836;
	-ms-box-shadow: inset 0 0 0 4px #d34836;
	box-shadow: inset 0 0 0 4px #d34836;
} 
/* dribbble */
.icon-border.dribbble::before {
	-webkit-box-shadow: inset 0 0 0 48px #ec4a89;
	-moz-box-shadow: inset 0 0 0 48px #ec4a89;
	-o-box-shadow: inset 0 0 0 48px #ec4a89;
	-ms-box-shadow: inset 0 0 0 48px #ec4a89;
	box-shadow: inset 0 0 0 48px #ec4a89;
}
.icon-border.dribbble:hover::before {
	-webkit-box-shadow: inset 0 0 0 4px #ec4a89;
	-moz-box-shadow: inset 0 0 0 4px #ec4a89;
	-o-box-shadow: inset 0 0 0 4px #ec4a89;
	-ms-box-shadow: inset 0 0 0 4px #ec4a89;
	box-shadow: inset 0 0 0 4px #ec4a89;
} 
/* rss */
.icon-border.rss::before {
	-webkit-box-shadow: inset 0 0 0 48px #ee802f;
	-moz-box-shadow: inset 0 0 0 48px #ee802f;
	-o-box-shadow: inset 0 0 0 48px #ee802f;
	-ms-box-shadow: inset 0 0 0 48px #ee802f;
	box-shadow: inset 0 0 0 48px #ee802f;
} 
.icon-border.rss:hover::before {
	-webkit-box-shadow: inset 0 0 0 4px #ee802f;
	-moz-box-shadow: inset 0 0 0 4px #ee802f;
	-o-box-shadow: inset 0 0 0 4px #ee802f;
	-ms-box-shadow: inset 0 0 0 4px #ee802f;
	box-shadow: inset 0 0 0 4px #ee802f;
} 
/*-- social-icons --*/
/*-- slider-up-arrow --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 3%;
	right: 3%;
	overflow: hidden;
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url("../images/move-up.png") no-repeat 0px 0px;
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //slider-up-arrow --*/ 
/* -- Responsive code -- */
@media screen and (max-width: 1280px){
	.contact-right-w3l {
		padding: 5em 10em;
	}	
}
@media screen and (max-width: 1080px){
	.contact-right-w3l {
		padding: 5em 7em;
	}
	.grid-c.grid_w3l {
		margin-right: 0.9em;
	}
	.sub_grid.gallery_w3l, .grid-2 {
		margin-top: 0.9em;
	}
	.contact-grid-agileinfo {
		padding: 2.9em;
    }
	.grid-1 .w3agile-text h5 {
		padding: 4.05em 0;
	}
	.grid-1.grid-b.grid_w3l  h5,.grid-1.grid-d.grid_w3l  h5{
		padding: 4.42em 0;
	}
	.subscribe-wthree input[type="email"] {
		width: 69%;
	}
	.img_text_w3ls h4 {
		font-size: 2.5em;
		letter-spacing: 1px;
	}
	.img_text_w3ls {
		padding: 9.42em 0;
	}
	.about_agileits {
		min-height: 320px;
	}
	.grid_w3 {
		padding: 0 0.42em;
	}
}
@media screen and (max-width: 1024px){
	.contact-right-w3l {
		padding: 2.3em 7em;
	}
	.contact-right-w3l input[type="text"]:nth-child(1), .contact-right-w3l input[type="text"]:nth-child(3) {
		margin-right: 1.9%;
	}
	.contact-grid-agileinfo {
		padding: 2.1em;
	}
	.contact-icon-wthree {
		padding: 0;
	}
	.banner_text_w3layouts {
        padding: 12.5em 0;
	}
	.banner_text_w3layouts h3 {
       font-size: 3.5em;
    }
}
@media screen and (max-width: 991px){
	.top-nav ul li a {
		padding: 1.5em;
	}
	.banner_text_w3layouts h3 {
        font-size: 3.8em;
	}	
	.about_agileits {
		min-height: 450px;
	}
	.grid-c.grid_w3l {
		margin-right: 0.7em;
	}
	.sub_grid.gallery_w3l, .grid-2 {
		margin-top: 0.7em;
	}
	.grid_w3 {
		padding: 0 0.4em;
	}
	.grid-1 .w3agile-text h5 {
		padding: 3em 0;
	}
	.grid-1.grid-b.grid_w3l  h5,.grid-1.grid-d.grid_w3l  h5{
		padding: 3.24em 0;
	}
	.w3layouts-section p {
		width: 80%;
	}
	.contact-right-w3l {
		padding: 2em 7em;
	}
	.contact-grid-agileinfo {
		padding: 2em;
	}
	.subscribe-wthree {
		width: 57%;
		margin: 0 auto;
	}
	.contact-right-w3l input[type="text"], .contact-right-w3l input[type="email"] {
		width:48.4%;
	}
	
}
@media screen and (max-width: 900px){
	.contact-right-w3l {
		padding: 2em 5em;
	}
}
@media screen and (max-width: 800px){
	.img_text_w3ls {
		padding: 9.71em 0;
    }
	.img_text_w3ls h4 {
		font-size: 2em;
	}
	.contact-right-w3l {
		padding: 2em 3em;
	}
	.w3layouts-section p {
		width: 86%;
	}
	.banner_text_w3layouts h3 {
		font-size: 3.3em;
	}
	
	.w3agile-text.w3agile-text-small h5, .grid_w3l .w3agile-text h5 {
		padding: 3em 0;
	}
	.grid-1 .w3agile-text h5 {
		padding: 2.9em 0;
	}
}
@media screen and (max-width: 768px){
	.w3layouts-section p {
		margin: 0.5em auto 1em;
	}	
	.contact-right-w3l {
		padding: 2em;
	}
	.about_agileinfo,.gallery_wthree,.team,.subscribe,.w3layouts-section {
   			padding: 4em 0;
	}
	.top-nav ul li a {
		text-align: center;
		padding: 1.4em;
		display: inline-block;
	}
	.grid-1 .w3agile-text h5 {
		padding: 2.96em 0;
	}
	.w3agile-text.w3agile-text-small h5, .grid_w3l .w3agile-text h5 {
		padding: 3.25em 0;
	}
}
@media screen and (max-width: 767px){
	.top-nav ul li a {
		text-align: center;
		padding: 1.4em;
		display: inline-block;
	}
	div#bs-example-navbar-collapse-1 {
		position: absolute;
		width: 100%;
		background: rgba(0, 0, 0, 0.75);
		z-index: 999;
		top:100%;
	}
	.navbar-nav {
		float: none;
		text-align: center;
		margin: 0;
	}
}	

@media screen and (max-width: 736px){
	.w3_agile_logo {
		padding: 2.5em 0 0;
	}
	.banner_text_w3layouts {
		padding: 10em 0;
	}
	.banner_text_w3layouts h3 {
		font-size: 3em;
	}
	.img_text_w3ls h4 {
		font-size: 1.8em;
	}
	.img_text_w3ls {
		padding: 10.2em 0;
	}
	.img_text_w3ls p {
        font-size: 1.1em;
	}	
	.img_text_w3ls {
		padding: 10.2em 0;
	}
	.grid-1 .w3agile-text h5 {
		padding: 2.8em 0;
	}
	.w3agile-text.w3agile-text-small h5, .grid_w3l .w3agile-text h5 {
        padding: 3.08em 0;
	}
	.subscribe-wthree {
		width: 58%;
	}
}
@media screen and (max-width: 667px){
	.banner_text_w3layouts {
		padding: 8em 0;
	}
	.about_agileits,.about_text_w3l,.img1, .img2, .img3, .img4, .img5, .img6,.team-grid,.grid-1,.contact-right-w3l,.contact-left-w3ls{
		width: 100%;
	}	
	.about_text_w3l {
		padding: 2em 2em 0;
	}
	.grid-c.grid_w3l {
		margin-bottom: 0.7em;
	}
	.w3agile-text.w3agile-text-smal1 {
		padding: 0;
	}
	.grid-1.grid-b.grid_w3l h5, .grid-1.grid-d.grid_w3l h5 {
		padding: 6.15em 0;
	}
	.grid-1.grid-c.grid_w3l .w3agile-text h5 {
		padding: 6.13em 0;
	}
	.gallery_grid {
		margin: 0;
	}
	.grid-1 .w3agile-text h5 {
		padding: 2.46em 0;
	}
	.team-grid {
		margin:0 0 3em;
	}
	.subscribe-wthree {
		width: 64%;
	}
	.contact-right-w3l {
		padding: 2em 4em;
		border:none;
	}
	.contact-icon-wthree {
		text-align: center;
	}
	.contact-grid-agileinfo {
		padding: 1.5em 0;
	}
	.contact-left-w3ls {
		padding: 0 4em 2em;
	}
}	
@media screen and (max-width: 640px){
	.subscribe-wthree {
		width: 67%;
	}
	.grid-1 .w3agile-text h5 {
		padding: 3.04em 0;
		font-size: 2em;
	}
	.grid-1.grid-c.grid_w3l .w3agile-text h5 {
		padding: 5.83em 0;
	}
	.grid-1.grid-b.grid_w3l h5, .grid-1.grid-d.grid_w3l h5 {
		padding: 5.83em 0;
	}
	.img_text_w3ls {
		padding: 7em 0;
	}
}
@media screen and (max-width: 600px){
	.banner_text_w3layouts h3 {
		font-size: 2.8em;
	}
	.w3_agile_logo {
		padding: 3em 0 0;
	}
	.banner_text_w3layouts {
		padding: 4em 0;
	}
	.team-grid.t3 {
		margin-bottom: 0;
	}
	.subscribe-wthree {
		width: 72%;
	}
	.team-grid:hover .img-w3l {
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-o-transform: scale(1.1);
		-ms-transform: scale(1.1);
		transform: scale(1.1);
	}
	.about_text_w3l {
		padding: 2em 2em 0;
	}
	.grid-1 .w3agile-text h5 {
		padding: 2.79em 0;
	}
	.grid-1.grid-c.grid_w3l .w3agile-text h5 {
		padding: 5.38em 0;
	}
	.grid-1.grid-b.grid_w3l h5, .grid-1.grid-d.grid_w3l h5 {
		padding: 5.39em 0;
	}
	.about_agileits {
		min-height: 300px;
	}
}
@media screen and (max-width: 568px){
	.banner_text_w3layouts h3 {
		font-size: 2.5em;
	}
	.banner_text_w3layouts {
		padding: 3.2em 0;
	}
	.subscribe-wthree {
		width: 77%;
	}
	.banner_text_w3layouts span {
		margin: 1.5em 0 0.3em;
	}
	.grid-1 .w3agile-text h5 {
		padding: 2.6em 0;
	}
	.grid-1.grid-c.grid_w3l .w3agile-text h5 {
		padding: 5.03em 0;
	}
	.grid-1.grid-b.grid_w3l h5, .grid-1.grid-d.grid_w3l h5 {
		padding: 5.02em 0;
	}
}
@media screen and (max-width: 480px){
	.banner_text_w3layouts h3 {
		font-size: 2.1em;
		letter-spacing:1px;
	}	
	.banner_text_w3layouts p {
		font-size: 1.1em;
	}
    .contact-right-w3l {
		padding: 2em 3em;
	}	
	.subscribe-wthree {
		width: 92%;
	}
	.grid-1 .w3agile-text h5 {
		padding: 2.04em 0;
	}
	.grid-1.grid-c.grid_w3l .w3agile-text h5 {
		padding: 4.05em 0;
	}
	.grid-1.grid-b.grid_w3l h5, .grid-1.grid-d.grid_w3l h5 {
		padding: 4.05em 0;
	}
	.team-grid {
		padding: 0 2em;
		margin: 0;
	}
	.team-grid.t2 {
		margin: 3em 0;
	}
}
@media screen and (max-width: 414px){
	.contact-right-w3l input[type="text"],.contact-right-w3l input[type="email"]{
		width:100%;
	}
	.subscribe-wthree input[type="email"] {
		width: 68%;
	}
	.grid-1 .w3agile-text h5 {
		padding: 2.18em 0;
		font-size: 1.6em;
	}
	.grid-1.grid-c.grid_w3l .w3agile-text h5,.grid-1.grid-b.grid_w3l h5, .grid-1.grid-d.grid_w3l h5  {
		padding: 4.28em 0;
	}
	.img_text_w3ls {
		padding: 4em 0;
	}
	.img_text_w3ls p {
		font-size: 0.85em;
		margin: 0.5em 0;
		letter-spacing: 1px;
	}
	.img_text_w3ls span {
		margin: 1.2em 0 0;
	}	
}
@media screen and (max-width: 384px){
	.w3_agile_logo h1 a {
		font-size: 1.4em;
	}
	.banner_text_w3layouts h3 {
		font-size: 2em;
	}
	.grid_w3,.grid-c.grid_w3l {
		width:100%;
	}
	.grid-c.grid_w3l {
		margin: 0.7em 0;
	}
	h3.title {
		font-size: 2.3em;
	}	
	.subscribe-wthree input[type="email"],.subscribe-wthree input[type="submit"] {
		width: 100%;
	}
	.subscribe-wthree input[type="submit"] {
		margin:1em 0 0;
	}
	.grid-1 .w3agile-text h5 {
		padding: 4em 0;
		font-size: 1.8em;
	}
	.grid-1.grid-c.grid_w3l .w3agile-text h5, .grid-1.grid-b.grid_w3l h5, .grid-1.grid-d.grid_w3l h5 {
		padding: 7.54em 0;
	}
}
@media screen and (max-width: 375px){
	.grid-1 .w3agile-text h5 {
		padding: 3.88em 0;
	}
	.grid-1.grid-c.grid_w3l .w3agile-text h5, .grid-1.grid-b.grid_w3l h5, .grid-1.grid-d.grid_w3l h5 {
		padding: 7.31em 0;
	}
}
@media screen and (max-width: 320px){
	.banner_text_w3layouts h3 {
		font-size: 1.5em;
	}
	.grid-1 .w3agile-text h5 {
		padding: 3.12em 0;
	}
	.grid-1.grid-c.grid_w3l .w3agile-text h5, .grid-1.grid-b.grid_w3l h5, .grid-1.grid-d.grid_w3l h5 {
		padding: 5.95em 0;
	}
	.about_agileinfo, .gallery_wthree, .team, .subscribe {
		padding: 3em 0;
	}
}

/* -- //Responsive code -- */


















/*MY OWN CSS*/

